<div class="cr-deck-row ui grid">
  <div class="ui horizontal divider">
    <h4> {{currentDeck.name}} </h4>
  </div>
  <app-clash-royale-deck-preview
    [currentDeck]="currentDeck">
  </app-clash-royale-deck-preview>
</div>
