<div class="cr-container cr-deck-list ui grid">
    <app-clash-royale-deck-row class="sixteen wide column" *ngFor="let deck of deckList"
       (click)="onSelectedDeckEmitter(deck)"
       [currentDeck]="deck">
    </app-clash-royale-deck-row>
</div>
