<div class="cr-global-container cr-deck-editor">
  <h3 class="ui horizontal divider header">
    <i class="edit icon"></i>
    Editor de Mazos
  </h3>
  <app-clash-royale-deck-form
    [currentDeck]="currentDeck"
    (onSaveDeckEvent)="onSaveDeckEmitter($event)"
    (onDeleteAndResetDeckEvent)="onDeleteAndResetDeckEmitter($event)">
  </app-clash-royale-deck-form>
  <app-clash-royale-cards-panel
    [currentDeck]="currentDeck"
    [refreshBar]="refreshBar"
    (onDeckSelectedCardEvent)="deselectCard($event)">
  </app-clash-royale-cards-panel>
  <app-clash-royale-cards-list
    [cardList]="cardList"
    [refreshBar]="refreshBar"
    (onListCardSelectedEvent)="selectCard($event)">
  </app-clash-royale-cards-list>
</div>
