<div class="cr-global-container cr-footer">
  <h3 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    Estadisticas
  </h3>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Estadistica</th>
      <th>Valor</th>
    </tr></thead>
    <tbody>
    <tr>
      <td data-label="Estadistica">Mazos</td>
      <td data-label="Valor">{{deckList.length}}</td>
    </tr>
    </tbody>
  </table>
</div>
