<div class="cr-deck-preview ui grid">
  <div *ngFor="let card of this.currentDeck.cards" class="cr-deck-preview-img two wide column">
    <img class="ui tiny image centered" [src]="card.imageUrl">
  </div>
</div>
