<div class="cr-container cr-cards-list ui grid">
  <div class="sixteen wide column center aligned">
    <select (change)="onChange($event.target.value)" class="ui dropdown sixteen wide">
      <option value="rarity">Calidad</option>
      <option value="irarity">Calidad (Invertido)</option>
      <option value="elixir">Coste</option>
    </select>
  </div>
  <div *ngFor="let card of sortedCardList()"  class="four wide column">
    <app-clash-royale-card-item
      [imgSize]="''"
      [card]="card"
      (click)="onCardSelectedEmitter(card)">
    </app-clash-royale-card-item>
  </div>
</div>
