<div class="app-root-container">
  <div class="cr-container cr-title-center">
    <h1> {{ title }} </h1>
  </div>
  <app-clash-royale-header
    [deckList]="deckList"
    [cardList]="cardList"
    (onSelectedDeckEvent)="selectDeck($event)">
  </app-clash-royale-header>
  <app-clash-royale-deck-editor
    [currentDeck]="currentDeck"
    [cardList]="cardList"
    [refreshBar]="refreshBar"
    (onDeleteAndResetDeckEvent)="deleteAndResetDeck($event)"
    (onSaveDeckEvent)="saveDeck($event)">
  </app-clash-royale-deck-editor>
  <app-clash-royale-footer
    [deckList]="deckList">
  </app-clash-royale-footer>
</div>
