<div class="cr-global-container cr-header">
  <h3 class="ui horizontal divider header">
    <i class="search icon"></i>
    Buscador de Mazos
  </h3>
  <div class="ui fluid multiple search selection dropdown">
    <input type="hidden" name="card-filter" (change)="onChange($event.target.value)">
    <i class="dropdown icon"></i>
    <div class="default text">Cartas del mazo</div>
    <div class="menu">
      <div *ngFor="let card of cardList" class="item" attr.data-value="{{card.key}}">
        <i><img src="{{card.imageUrl}}"></i> {{card.name}}
      </div>
    </div>
  </div>
  <app-clash-royale-deck-list
    [deckList]="filterByCard()"
    (onSelectedDeckEvent)="onSelectedDeckEmitter($event)">
  </app-clash-royale-deck-list>
</div>
