<div class="cr-container cr-form ui form">
  <label>
    <input class="field" name="deckName" [(ngModel)]="currentDeck.name" placeholder="Nombre del mazo"/>
  </label>
  <button class="ui primary button" (click)="onResetDeckEmitter()">Nuevo</button>
  <button class="ui primary button" (click)="onSaveDeckEmitter()">Guardar</button>
  <button class="ui secondary button" (click)="onDeleteDeckEmitter()">Eliminar</button>
</div>
