<div class="cr-container cr-cards-panel ui grid">

  <div class="sixteen wide column center aligned">
    <div class="ui teal progress" data-percent="0" id="elixirBar">
      <label>Elixir: {{currentDeck.stats.getMeanElixirCost(currentDeck).toFixed(1)}}</label>
      <div class="bar cheapElixir" id="colorElixirBar"></div>
    </div>
  </div>
  <div class="sixteen wide column center aligned">
    <label>Tropas: </label>
    <progress-bar
      [progress]="currentDeck.stats.getCurrentTroop()"
      [color-degraded]="{'0': '#ff0000',  '24': '#ff9e00', '49': '#15af00'}">
    </progress-bar>
  </div>
  <div class="sixteen wide column center aligned">
    <label>Estructuras: </label>
    <progress-bar
      [progress]="currentDeck.stats.getCurrentBuilding()"
      [color-degraded]="{'0': '#ff0000',  '12': '#ff9e00', '24': '#15af00'}">
    </progress-bar>
  </div>
  <div class="sixteen wide column center aligned">
    <label>Hechizos: </label>
    <progress-bar
      [progress]="currentDeck.stats.getCurrentSpell()"
      [color-degraded]="{'0': '#ff0000',  '12': '#ff9e00', '24': '#15af00'}">
    </progress-bar>
  </div>
  <div class="sixteen wide column center aligned">
    <label>Total: </label>
    <progress-bar
      [progress]="currentDeck.stats.getCurrentSpell()
        + currentDeck.stats.getCurrentBuilding()
        + currentDeck.stats.getCurrentTroop()"
      [color-degraded]="{'0': '#ff0000',  '49': '#ff9e00', '99': '#15af00'}">
    </progress-bar>
  </div>

  <div id="editLink" *ngFor="let card of this.currentDeck.cards" class="four wide column">
    <app-clash-royale-card-item
      [imgSize]="''"
      [card]="card"
      (click)="onDeckSelectedCardEmitter(card)">
    </app-clash-royale-card-item>
  </div>

</div>
