/* You can add global styles to this file, and also import other style files */

@media only screen and (min-device-width: 720px) {
  html {
    max-width: 70%;
    margin: auto;
  }
}

body { background-color: lightblue;}

i img {
  width: 1.5em;
  height: auto;
  vertical-align: middle;
}

/* ================================================================================= */
/* ================================================================================= */

/* DIVS CONTAINERS */
.app-root-container {
  background: #6a81b2;
}

.cr-global-container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 2% 5% !important;
}

.cr-container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 2% 5% !important;
}

/* BLOCK 0 */
.cr-title-center {
  width: 100%;
  text-align: center;
}

/* BLOCK 1 */
.cr-header {
}
.cr-deck-list {
}
.cr-deck-row {
  justify-content: center
}
.cr-deck-preview{
  text-align: center;
}
.cr-deck-preview-img {
  display: inline-block !important;
}

/* BLOCK 2 */
.cr-deck-editor {
}
.cr-form {
}
.cr-cards-panel {
  background: #7a558c;
}
.cr-cards-list {
  background: #bf88d8;
}
.cr-card-item{}

/* BLOCK 3 */
.cr-footer {
}

/* ================================================================================= */
/* ================================================================================= */

/* ELIXIR BAR COLOR STATES */
.bar.cheapElixir {
  background-color: #f300ff !important;
}
.bar.mediumElixir {
  background-color: #b900c2 !important;
}
.bar.expensiveElixir {
  background-color: #7e00c2 !important;
}
